# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unity.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/

aws.xml
indexLayout.xml
projectSettingsUpdater.xml
workspace.xml
vcs.xml

